<p style="color: green"><%= notice %></p>

<h1>Postagens</h1>
<p><em>Ultimas Postagens:</em></p>

<div id="postagens">
  <% @postagens.each do |postagem| %>
    <tr>
      <td> <strong><%= postagem.titulo %> </strong> </td>
      <td> <%= link_to "Visualizar", admin_postagem_path(postagem) %>
      <td> <%= link_to "Editar", edit_admin_postagem_path(postagem) %>
      <td> <%= button_to "Excluir", admin_postagem_path(postagem), method: :delete %> 
    </tr>
  <% end %>
</div>  

<%= link_to "Escrever Postagem", new_admin_postagem_path %>
